body{
    background-color: beige;
    color: rgb(3, 8, 22);
   
    justify-items:center;

}
.container{
    display: grid;
    background-image:linear-gradient(to bottom,#3f9aea,#2a72b1) ;
    justify-items: center;
    width:auto;
    padding-left: 10px;
    padding-right: 10px;
    border:3px solid rgb(1, 29, 107);
    border-radius:10px;
    margin-top: 150px;
}
.mailpassword{
    display:grid;
    gap:10px;
}
.checkboxcontainer{
    display:grid;
    grid-template-columns: repeat(3,auto);
    align-items:start;
}
.checkboxcontainer span{
   margin-left:40px;
   margin-top: 8px;
}
.checkbox{
    position: relative;
    top:0px;
    margin:0px;
    height:20px;
    width:20px;
}
span{
    color: rgb(28, 57, 137);
}
a{
    text-decoration: none;
}
.mailpassword input{
    border-radius:5px;
    border-color:  rgb(4, 10, 26);;
    height: 35px;
    padding-left: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
}

.signin{
    border-radius:5px;
    height: 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
}
h4{
    margin-top:8px;
    margin-left: 2px;
}